<h1>Pixtr says HI</h1>
<a href="/galleries/new">Make a new gallery</a>

<ul>
  <% @galleries.each do |gallery| %>
    <li><%= link_to gallery.name, gallery %>
      -
    <%= gallery.description %>
    <%= link_to "Edit", edit_gallery_path(gallery) %>

    </li>
    <%= form_for gallery, method: :delete do |form| %>
      <%= form.submit "Delete" %>
    <% end %>
    <%#<%= link_to "Delete", gallery, data: { confirm: "Are you sure?" }, method: "delete" %>
  <% end %>
</ul>

