<h1>Pixtr says HI</h1>
<a href="/galleries/new">Make a new gallery</a>

<ul>
  <% @galleries.each do |gallery| %>
    <li><%= link_to "#{gallery.name}", "/galleries/#{gallery.id}" %>
      -
    <%= gallery.description %>
    <%= link_to "edit", "/galleries/#{gallery.id}/edit" %>
    </li>
    <form action="/galleries/<%= gallery.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="submit" value="Delete" />
    </form>
  <% end%>
</ul>
