<h2>This is a page for <%= @gallery.name %></h2>
<%= link_to "Add an image", new_gallery_image_path(@gallery) %>

<ul>
  <% @gallery.images.each do |image| %>
    <li><%= link_to image_tag(image.url), gallery_image_path(image.gallery_id, image.id) %>
      <%= form_for [@gallery, image], method: :delete do |form| %>
        <%= form.submit "Delete" %>
      <% end %>
    </li>
  <% end %>
</ul>
