<h2>This is a page for <%= @gallery.name %></h2>
<%= link_to "Add an image", new_gallery_image_path(@gallery) %>

<ul>
  <% @gallery.images.each do |image| %>
    <li><%= image_tag image.url %>
    <%= link_to image.name, gallery_image_path(image.gallery_id, image.id) %>
     -  <%= link_to "Edit Image", edit_gallery_image_path(image.gallery_id, image.id) %> 

      <%= form_for [@gallery, image], method: :delete do |form| %>
        <%= form.submit "Delete" %>
      <% end %>
    </li>
  <% end %>
</ul>
