<p>Viewing the <%= @image.name %> image</p>
<%= link_to "Edit this image", edit_gallery_image_path(@gallery, @image) %>
<br />
<%= image_tag @image.url %>
<ul>
  <% @comments.each do |comment| %>
    <li><strong><%= comment.user_email %></strong> - <%= comment.body %></li>
    <%= time_ago_in_words comment.created_at %> ago
  <% end %>
</ul>


<%= form_for [@image, @comment] do |form| %>
  <%= render "error_messages", target: @comment %>
  <div>
    <%= form.label :body, "Comment:" %>
    <%= form.text_area :body %>

    <%= form.submit %>
  </div>
<% end %>
