<p>Viewing the <%= @image.name %> image</p>
<%= link_to "Edit this image", edit_gallery_image_path(@gallery, @image) %>
<br />
<% if @gallery.user == current_user %>
  <div>
    <%= form_for [@gallery, @image] do |form| %>
      <%= form.collection_check_boxes(:group_ids, current_user.groups, :id, :name) %>
      <%= form.submit %>
    <% end %>
  </div>
<% end %>
<%= image_tag @image.url %>
<% if current_user.likes?(@image) %>
  <%= button_to "Unlike this image", image_like_path(@image), method: :delete %>
<% else %>
  <%= button_to "Like this image", image_like_path(@image) %>
<% end %>
<p>This image has <%= @likes.count %> likes.</p>
<% @likes.each do |like| %>
  <%= render "likes/like", user: like.user %>
<% end %>
<p>Tags: <%= @image.tag_words %></p>
<ul>
  <% @comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</ul>


<%= form_for [@image, @comment] do |form| %>
  <%= render "error_messages", target: @comment %>
  <div>
    <%= form.label :body, "Comment:" %>
    <%= form.text_area :body %>

    <%= form.submit %>
  </div>
<% end %>
